@use "variables";
@use "functions";
@use "mixins";

.todo {
  padding: functions.rem-calc(10);
  border-radius: variables.$border-radius;
  background-color: variables.$todo-background-color;
  color: variables.$text-color;
  margin-top: variables.$margin-top;
  display: grid;
  grid-template-columns: 3fr 0.3fr;
  transition: variables.$transition-time;
  cursor: pointer;

  &:hover {
    background-color: functions.adjust-opacity(variables.$todo-background-color, 0.8);
  }

  .checkbox {
    width: variables.$checkbox-size;
    height: variables.$checkbox-size;
    border-radius: 50%;
    background-color: variables.$background-color;
    transition: 0.4s;

    &.check-complete {
      background-color: variables.$primary-color;
    }
  }

  .text {
    margin-left: variables.$text-margin-left;

    &.check-complete {
      text-decoration: line-through;
    }
  }

  .delete-todo {
    @include mixins.flex-center;
  }
}