@use "variables";
@use "mixins";

.container {
  max-width: variables.$max-width;
  padding: variables.$padding;
  margin: 0 auto;

  .heading {
    text-align: center;

    h1 {
      color: variables.$primary-color;
    }
  }

  .form {
    margin-top: variables.$margin-top;
    display: flex;
    justify-content: space-between;

    input {
      width: variables.$input-width;
      padding: variables.$button-padding;
    }

    button {
      @include mixins.button-style(variables.$secondary-color);
    }
  }
}