$primary: #D81E5B;
$light: #EEE;
$light-alt: #61759b;
$dark: #131A26;
$max-width: 20rem;
$padding: 32px;
$margin-top: 2rem;
$border-radius: 13px;
$transition-time: 0.5s;
$font-family: "Fira Sans", sans-serif;
$button-padding: 3px;
$input-width: 85%;
$checkbox-size: 20px;
$text-margin-left: 1rem;