$primary-color: #D81E5B;
$secondary-color: #61759b;
$background-color: #EEE;
$text-color: #f7f7f7;
$todo-background-color: #4167a8;
$max-width: 20rem;
$padding: 1rem;
$margin-top: 1.5rem;
$border-radius: 10px;
$transition-time: 0.3s;
$font-family: "Fira Sans", sans-serif;
$button-padding: 0.5rem;
$input-width: 85%;
$checkbox-size: 20px;
$text-margin-left: 1rem;